{% extends "base.html" %}

{% block main_content %}

    <section class="block_base">
        <h1>Draft</h1>
        <section class="block_detail">
            {% if draft%}
                <article>
                    <table>
                        <tr>
                            <th>Food name</th>
                            <th>Food type</th>
                            <th>Number</th>
                            <th>Detail</th>
                            <th colspan="3">Meal time</th>
                            <th>Delete</th>
                        </tr>
                        {% for food_name in draft %}
                        <tr>
                            <td>{{ food_data[food_name]["food_name"] }}</td>
                            <td>{{ food_data[food_name]["food_type"] }}</td>
                            <td>{{ draft[food_name]["food_num"] }}</td>
                            <td>
                                <a href="{{ url_for('food_nutrition', food_name=food_data[food_name]['food_name'])}}">View</a>
                            </td>
                            <td>
                                <a href="{{ url_for('record_design', food_name=food_data[food_name]['food_name'])}}">Morning</a>
                            </td>
                            <td>
                                <a href="{{ url_for('record_design', food_name=food_data[food_name]['food_name'])}}">Afternoon</a>
                            </td>
                            <td>
                                <a href="{{ url_for('record_design', food_name=food_data[food_name]['food_name'])}}">Evening</a>
                            </td>
                            <td>
                                <a href="{{ url_for('delete_from_draft', food_name=food_data[food_name]['food_name'])}}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </article>
            {% else %}
                <p>Your Meal draft is empty!</p>
                <a href="{{ url_for('foods') }}">Daft by foods here!</a>
            {% endif %}
        </section>
    </section>
    
{% endblock %}
